<%= @user.email %>
<select>
  <% @categories.each do|cat| %>
    <option value="#{<%= cat.name %>}"><%= cat.name %></option>
  <% end %>
</select>
<%= link_to "Create New Project", "/users/#{@user.id}/projects/new" %>
<ul>
  <% @categories.each do |cat| %>
    <% cat.projects.all.each do |pro|%>
      <li>
        <ul>
          <% pro.requests.all.each do |req| %>
           <li>
            <div>Name: <%= req.citizen_name %></div>
            <div>Address: <%= req.location.address %></div>
            <div>Hours Passed: <%= format_time(Time.now - req.created_at)%></div>
          </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>